.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

body {
  background-image: url("space.jpeg");
  font-family: 'Rajdhani', sans-serif;
  color: white;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

.h1 {
  font-family: 'Orbitron', sans-serif;
}

tr:hover {
  cursor: pointer;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.pagination {
  justify-content: center;
}

.table-dark.table-bordered {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}


